ion-view(
  view-title="{{::('profile.title')|translate}}"
)
  ion-nav-title
    .alt-logo
  ion-content.has-header.show-profile-page(
    overflow-scroll="true"
    locking="false"
  )
    .row
      .col.profile-header
        img.img-profile(
          ng-src="{{ siteVm.userImageURL }}"
        )
        .user-name {{ siteVm.userName }}

    .profile-body
      ion-tabs.tabs-top.tabs-striped
        ion-tab(
          title="{{::('profile.tabs.info'|translate)}}"
          ui-sref="app.profile.info.index"
        )
          ion-nav-view(name='menuContent@profileInfo')
        ion-tab(
          title="{{::('profile.tabs.addresses'|translate)}}"
          ui-sref="app.profile.addresses.index"
        )
          ion-nav-view(name='menuContent@addressesIndex')
