form(
  name="pfaVm.addressForm"
  novalidate
)
  ion-content.addresses-wrapper.resource-form(
    scroll="false"
    locking="false"
  )
    .list.list-inset.fields-wrapper
      legend {{::pfaVm.inUpdateMode ? ("profile.addresses.formLegendUpdate"|translate) : ("profile.addresses.formLegendNew"|translate)}}

      maps(data="pfaVm.addressFormData")

      label.item.item-input.item-stacked-label(
        ng-class="{'item-error': pfaVm.messages.nombre}"
      )
        span.input-label {{::("profile.addresses.name"|translate)}}
        input(
          type='text'
          ng-model='pfaVm.addressFormData.nombre'
        )
      .errors-wrapper
        show-error(array-messages='pfaVm.messages.nombre')

      label.item.item-input.item-stacked-label(
        ng-class="{'item-error': pfaVm.messages.ciudad}"
      )
        span.input-label {{::("profile.addresses.city"|translate)}}
        input(
          type='text'
          ng-model='pfaVm.addressFormData.ciudad'
        )
      .errors-wrapper
        show-error(array-messages='pfaVm.messages.ciudad')

      label.item.item-input.item-stacked-label(
        ng-class="{'item-error': pfaVm.messages.parroquia}"
      )
        span.input-label {{::("profile.addresses.parish"|translate)}}
        input(
          type='text'
          ng-model='pfaVm.addressFormData.parroquia'
        )
      .errors-wrapper
        show-error(array-messages='pfaVm.messages.parroquia')

      label.item.item-input.item-stacked-label(
        ng-class="{'item-error': pfaVm.messages.barrio}"
      )
        span.input-label {{::("profile.addresses.neighborhood"|translate)}}
        input(
          type='text'
          ng-model='pfaVm.addressFormData.barrio'
        )
      .errors-wrapper
        show-error(array-messages='pfaVm.messages.barrio')

      label.item.item-input.item-stacked-label(
        ng-class="{'item-error': pfaVm.messages.direccion_uno}"
      )
        span.input-label {{::("profile.addresses.addressOne"|translate)}}
        input(
          type='text'
          ng-model='pfaVm.addressFormData.direccion_uno'
        )
      .errors-wrapper
        show-error(array-messages='pfaVm.messages.direccion_uno')

      label.item.item-input.item-stacked-label(
        ng-class="{'item-error': pfaVm.messages.direccion_dos}"
      )
        span.input-label {{::("profile.addresses.addressTwo"|translate)}}
        input(
          type='text'
          ng-model='pfaVm.addressFormData.direccion_dos'
        )
      .errors-wrapper
        show-error(array-messages='pfaVm.messages.direccion_dos')

      label.item.item-input.item-stacked-label(
        ng-class="{'item-error': pfaVm.messages.codigo_postal}"
      )
        span.input-label {{::("profile.addresses.zipCode"|translate)}}
        input(
          type='text'
          ng-model='pfaVm.addressFormData.codigo_postal'
        )
      .errors-wrapper
        show-error(array-messages='pfaVm.messages.codigo_postal')

      label.item.item-input.item-stacked-label(
        ng-class="{'item-error': pfaVm.messages.numero_convencional}"
      )
        span.input-label {{::("profile.addresses.telephoneNumber"|translate)}}
        input(
          type='text'
          ng-model='pfaVm.addressFormData.numero_convencional'
        )
      .errors-wrapper
        show-error(array-messages='pfaVm.messages.numero_convencional')

      label.item.item-input.item-stacked-label(
        ng-class="{'item-error': pfaVm.messages.referencia}"
      )
        span.input-label {{::("profile.addresses.reference"|translate)}}
        input(
          type='text'
          ng-model='pfaVm.addressFormData.referencia'
        )
      .errors-wrapper
        show-error(array-messages='pfaVm.messages.referencia')

  .bar.bar-footer.bar-stable
    button.button.button-small.button-outline.button-energized(
      ng-click="pfaVm.processAddress()"
    ) {{ ::pfaVm.inUpdateMode ? ("profile.addresses.updateBtnText"|translate) : ("profile.addresses.saveBtnText"|translate) }}
