ion-view(
  view-title="Login",
  hide-nav-bar="true"
)
  ion-content
    back-button
    .row
      .logo
    .row
      form.form-container(ng-submit='loginVm.login()')
        .list
          label.item.item-input
            span.email-left-icon
            input(
                type='email',
                ng-model='loginVm.loginForm.email'
                required='required'
                placeholder='Correo electrónico'
              )
          label.item.item-input
            span.lock-left-icon
            input(
              type='password',
              ng-model='loginVm.loginForm.password',
              required='required',
              placeholder="Contraseña"
            )
        .button-actions
            input(
              type='submit',
              value="Iniciar Sesión"
            ).button.button-primary.button-block
    .row.form-container
      a.button.button-clear.button-dark(ui-sref='send') ¿Olvidaste tu contraseña?
    .row.form-container
      .button.facebook-login(ng-click="loginVm.loginWithFB()")
        span.fb-left-icon
        span.fb-copytext Continuar con facebook
  .bar.bar-footer.bar-footer-send-email
