ion-view(
  view-title="Login",
  hide-nav-bar="true"
)
  ion-content(scroll="false")
    .row.form-container
      form(ng-submit='loginVm.login()')
        .login-title Iniciar Sesión
        .list.list-inset
          label.item.item-input
            input(
              type='email',
              ng-model='loginVm.loginForm.email',
              required='required',
              placeholder="email"
            )
          label.item.item-input
            input(
              type='password',
              ng-model='loginVm.loginForm.password',
              required='required',
              placeholder="password"
            )

        .row.button-actions
          .col
            a.button(ui-sref="register") Registrarse
          .col
            input(
              type='submit',
              value="login"
            ).button
    .row
      .col
        .button(ng-click="loginVm.resetPassword()") Restablecer Contraseña
