ion-view(
  view-title='{{::("menu.user.provider"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.provider-show-page
    .provider-header(
      style="background-image:url('{{ ::providerDetVm.provider.cover_url }}')"
    )
      .provider-logo
        img(
          ng-src='{{ ::providerDetVm.provider.logotipo_url | defaultImage }}'
        )
      .provider-info
        .title.wrapper {{ ::providerDetVm.provider.nombre_establecimiento }}
        .subtitle.wrapper {{ ::providerDetVm.provider.actividad_economica }}
        .wrapper
          span.i.icon.ion-clock
          span {{ ::providerDetVm.openingTime | timeSchedule | formatDate:'HH:mm' }} - {{ ::providerDetVm.closingTime | timeSchedule | formatDate:'HH:mm' }}

    .provider-categories(
      ng-repeat="providerItemCategory in ::providerDetVm.provider.provider_item_categories"
    )
      .provider-category--title {{ ::providerItemCategory.nombre }}
      .grid-parent
        .provider-item.col.col-33(
          ng-repeat="providerItem in ::providerItemCategory.provider_items"
          ui-sref='app.categories.provider.product({id:providerItem.id, product:providerItem})'
        )
          .img-wrapper
            img(ng-src='{{ ::(providerItem.imagenes[0].imagen_url | defaultImage)}}')
          .info-wrapper
            .provider-item--title {{ ::providerItem.titulo }}
            .provider-item--subtitle
              | {{ ::(providerItem.precio_cents | priceCurrency | currency)}}
