.provider-profile-section(
  ng-repeat="providerProfile in cartVm.cart.provider_profiles track by $index"
)
  .provider-profile--title-wrapper
    .provider-profile--subtitle
      span
        order-items-total(
          order-items="providerProfile.customer_order_items"
        )
      span + $1.50
      span {{ ::('cart.shippingCosts' | translate) }}

    .provider-profile--title
      | {{ ::providerProfile.nombre_establecimiento }}

  .cart-delivery-address
    span.placeholder-title(
      ng-if="providerProfile.customer_order_delivery.delivery_method !== 'pickup'"
    )
      | {{ ::("cart.deliveryPlaceholder" | translate) }}
    span.placeholder-title(
      ng-if="providerProfile.customer_order_delivery.delivery_method === 'pickup'"
    )
      | {{ ::("cart.pickupPlaceholder" | translate) }}
    span(
      ng-if="providerProfile.customer_order_delivery.deliver_at"
    )
      | {{ ::(providerProfile.customer_order_delivery.deliver_at | formatDate:'dddd D') }}
      | de
      | {{ ::(providerProfile.customer_order_delivery.deliver_at | formatDate:'MMMM - H:m A')}}
      | -
    span Departamento
    button(ng-click='cartVm.showCustomerOrderDelivery(providerProfile)').button.button-clear.button-energized.button-small
      | {{ ::("globals.edit" | translate) }}

  .provider-items-in-cart
    slick-item(settings="cartVm.slickSettings"
               data="providerProfile"
               on-click="cartVm.openEditModal"
               ng-if="cartVm.slickFlag")
