ion-view(
  view-title='{{::("menu.client.cart"|translate)}}'
)
  ion-nav-title {{ ::('cart.title' | translate) }}
  ion-content.cart-preview
    .provider-profile-section(
      ng-repeat="providerProfile in cartVm.cart.provider_profiles track by $index"
    )
      .provider-profile--title
        | {{ ::providerProfile.nombre_establecimiento }}
      .provider-items-in-cart
        slick-item(settings="cartVm.slickSettings" data="providerProfile")

  ion-footer-bar.cart-page-footer
    action-button(
      ng-disabled="!cartVm.cart.provider_profiles"
      on-click="cartVm.showCheckoutModal()"
      text="{{::('cart.buyItems'|translate)}}"
    )
    .total
      | (Subtotal)
      span.value
        | {{cartVm.total | currency}}
