ion-view(
  view-title='{{::("item.items"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.item-index-page.resource-collection
    .row
      label.item.search-input
        i.icon.ion-search.placeholder-icon
        input(
          ng-model="itemsVm.query"
          type="text"
          placeholder='{{::("item.itemSearch"|translate)}}'
        )

    .row
      .list.list--centered
        button.button.button-outline.button-energized(
          ng-click="itemsVm.newItemModal()"
        ) {{::("globals.new"|translate)}} {{::("item.item"|translate)}}

    .list.list-inset.list--no-borders.resource-collection-table
      .row.table-headers
        .col.col-60 {{::("item.productName"|translate)}}
        .col.col-15 {{::("item.quantity"|translate)}}
        .col.col-25 {{::("item.price"|translate)}}

      .col.without-items(ng-if="!itemsVm.items.length")
        p {{::("item.titleWithoutItems"|translate)}}
        p {{::("item.subtitleWithoutItems"|translate)}}

      .item.row(
        ng-repeat="item in itemsVm.items | filter:itemsVm.query track by $index"
      )  
        .col.col-60
          a.provider-item-title(
            ui-sref="provider.items.show({id: item.id})"
          ) {{ ::item.titulo }}
        .col.col-15
          span(ng-if="item.unidad_medida=='unidades'") X {{ ::item.volumen }}
        .col.col-25 $ {{ ::item.precio_cents/100 }}
