ion-list
  ion-checkbox(
    ng-repeat="method in checkedVm.methodsPayment track by $index",
    ng-model="method.checked"
    name="methodsPayment"
    ng-checked="method.checked"
    ng-change="checkedVm.checked(method)"
  ) {{ ::method.label }}

