ion-view(
  view-title='{{::("menu.product"|translate)}}'
)
  ion-nav-title
    .alt-logo

  //- cart
  ion-nav-buttons(side="right")
    button.cart-main-button(
      ui-sref='app.cart.index'
      ng-if='menuVm.existCartActive'
    ) {{menuVm.numberItems}}
      i.ion-ios-cart-outline

  ion-content.item-show-page
    form(
      name="selectProductForm"
      ng-submit='productVm.selectProduct()'
    )
      div(
        ng-include="'templates/product/product.html'"
      )

  ion-footer-bar.bar-stable.item-show-footer.bar-footer--tall
    .left-panel
      button.button.button-small.button-outline.button-energized.button-letter-stretched(ng-disabled="!productVm.item.cantidad" ng-click="productVm.runAction(productVm.actions.buyNow)")
        | {{::("product.buyNow"|translate)}}
    .center-panel
      product-counter(options="productVm.options")
