ion-view(
  view-title="{{::('menu.provider.orders'|translate)}}"
)
  ion-nav-title
    .alt-logo

  ion-nav-buttons(side="right")
    provider-notifications

  ion-content.provider-orders-index-page
    .list.list-inset.page-title
      h2 {{::("provider.orders" | translate)}}
      p {{::("orders.titleFormOrders"|translate)}}

    .tab-container
      .tab-item(
        menu-close
        ng-class="{'tab-item-active': poVm.tab==='submitted'}"
        ui-sref="provider.orders.index({status: 'submitted'})"
      ) {{::("orders.inProcess"|translate)}}
      .tab-item(
        menu-close
        ng-class="{'tab-item-active': poVm.tab==='completed'}"
        ui-sref="provider.orders.index({status: 'completed'})"
      ) {{::("orders.completed"|translate)}}

    .list.list-inset
      p(ng-if="poVm.tab==='submitted'")
        | {{::("orders.have"|translate)}}
        | {{poVm.customerOrders.length}}
        | {{::("orders.ordersPendings"|translate)}}

      .order-container.resource-rounded-container(
        ng-repeat="order in poVm.customerOrders"
        ui-sref="provider.orders.show({customerOrder: order, id: order.id})"
      )
        .row
          .col
            .container-title
              | {{ ::("orders.collectionTitle"| translate)}}{{:: order.id }}
          .col.text-right
            i.icon.ion-ios-clock-outline
              span {{ order.submitted_at | toDate | formatDate: 'HH:mm' }}
        .row
          .col
            span(
              ng-if="order.anon_billing_address"
            ) {{ ::("cart.anonBillingAddress" | translate) }}
            span(
              ng-if="!order.anon_billing_address"
            ) {{ order.customer_billing_address.razon_social }}
        .row
          .col {{ order.submitted_at | toDate |formatDate: 'DD/MM/YYYY' }}
          .col.text-right Asignado a: -

      row(ng-if="!poVm.customerOrders.length")
        .col.text-center {{::("orders.ordersEmpty"| translate)}}
