ion-view(
  view-title="Ubicación"
)
  ion-content(scroll="false")
    .map-view
      input(
        id="input-places"
        class="controls"
        type="text"
        placeholder="Introduzca una ubicación"
        ng-autocomplete
        ng-focus="mapVm.disableTap()"
      )
      div(
        id="map"
        data-tap-disabled="true"
      )
