ion-view(
  view-title="Ubicación"
)
  ion-content
    input(
      id="input-places"
      class="controls"
      type="text"
      placeholder="Introduzca una ubicación"
      ng-autocomplete
      ng-focus="mapVm.disableTap()"
    )
    div(
      id="map"
      data-tap-disabled="true"
    )
