ion-view(
  view-title="Ubicación"
)
  ion-content(scroll="false")
    input(
      id="input-places"
      class="controls"
      type="text",
      placeholder="Introduzca una ubicación"
    )
    div(
      id="map"
      data-tap-disabled="true"
    )
