ion-modal-view.client-page
  ion-header-bar.bar.bar-header.bar-light.bar-base-yellow(
    align-title="center"
  )
    h4 {{::("globals.edit"|translate)}}
    .ion-nav-buttons(side="left")
      button.button.ion-chevron-left.button-clear.left(
        ng-click="piVm.closeModal()"
      )
  ion-content.resource-form
    form(
      name="piVm.updateProfileForm"
      ng-submit="piVm.submitProcess(piVm.userEdit)"
      novalidate
    )
      .list.list-inset
        legend {{::("client.formLegend"|translate)}}

        label.item.item-input.item-stacked-label
          span.input-label {{::("item.imagen"|translate|uppercase)}}
          input.button.ion-button(
            type='file'
            ngf-select
            ng-model="piVm.userEdit.custom_image"
            accept="image/*"
          )
        show-error(array-messages='piVm.user.custom_image')

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': piVm.updateProfileForm.email.$touched && piVm.updateProfileForm.email.$invalid}"
        )
          span.input-label {{::("user.email"|translate)}}
          input(
            type="email"
            name="email"
            ng-model="piVm.userEdit.email"
            ng-class="input-error"
            required
          )
        .errors-wrapper
          span.show-errors(ng-messages="piVm.updateProfileForm.email.$error" ng-if="piVm.updateProfileForm.email.$touched")
            span.message-error(ng-message="required") Campo requerido
            span.message-error(ng-message="email") E-mail no válido
          show-error(array-messages="piVm.messages.email")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': piVm.messages.fecha_de_nacimiento}"
        )
        .item.item-input.item-stacked-label
          span.input-label {{::("user.birthdate"|translate)}}
          .item(ion-datetime-picker date ng-model='piVm.userEdit.fecha_nacimiento')
            | {{piVm.userEdit.fecha_nacimiento| date: "yyyy-MM-dd"}}
        show-error(array-messages="piVm.messages.fecha_nacimiento")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': piVm.messages.name}"
        )
          span.input-label {{::("user.name"|translate)}}
          input(
            type="text"
            ng-model="piVm.userEdit.name"
          )
        show-error(array-messages="piVm.messages.name")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': piVm.messages.ciudad}"
        )
          span.input-label {{::("user.country"|translate)}}
          input(
            type="text"
            ng-model="piVm.userEdit.ciudad"
          )
        show-error(array-messages="piVm.messages.ciudad")

      .bar.bar-footer
        input.button.button-primary(
          type="submit"
          value="{{::('globals.save'|translate)}}"
          ng-class='{disabled: piVm.updateProfileForm.$invalid}'
        )
