ion-modal-view.client-page
  ion-header-bar.bar-stable.bar.bar-header(
    align-title="center"
  )
    .back-button-wrapper
      span.button.button-clear(
        ng-click="piVm.closeModal()"
      )
        i.icon.ion-android-arrow-back
    .title.alt-logo
  form(
    name="piVm.updateProfileForm"
    ng-submit="piVm.submitProcess(piVm.userEdit)"
    novalidate
  )
    ion-content.resource-form.item-form
      .list.list-inset
        legend {{::("client.formLegend"|translate)}}

        label.item.item-input.item-stacked-label
          span.input-label {{::("user.image"|translate|uppercase)}}
          img.uploader(
            type = "file"
            ngf-select
            ng-model = "piVm.userEdit.custom_image"
            ngf-capture = "'camera'"
            accept = "image/*"
          )
            .img-placeholder
            .img-placeholder--legend {{::("client.addImage"|translate)}}
        show-error(array-messages='piVm.user.custom_image')

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': piVm.updateProfileForm.email.$touched && piVm.updateProfileForm.email.$invalid}"
        )
          span.input-label {{::("user.email"|translate)}}
          input(
            type="email"
            name="email"
            ng-model="piVm.userEdit.email"
            ng-class="input-error"
          )
        .errors-wrapper
          span.show-errors.ng-active(ng-messages="piVm.updateProfileForm.email.$error" ng-if="piVm.updateProfileForm.email.$touched")
            span.message-error(ng-message="email") {{::("form.wrongEmail"|translate)}}
          show-error(array-messages="piVm.messages.email")

        label.item.item-input.item-stacked-label.input-calendar(
          ng-class="{'item-error': piVm.messages.fecha_de_nacimiento}"
        )
          span.input-label {{::("user.birthdate"|translate)}}
        .item.item-icon-left(ion-datetime-picker date ng-model='piVm.userEdit.fecha_nacimiento')
          i.icon.ion-ios-calendar-outline
          strong {{piVm.userEdit.fecha_nacimiento| date: "yyyy-MM-dd"}}
        show-error(array-messages="piVm.messages.fecha_nacimiento")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': piVm.messages.name}"
        )
          span.input-label {{::("user.name"|translate)}}
          input(
            type="text"
            ng-model="piVm.userEdit.name"
          )
        show-error(array-messages="piVm.messages.name")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': piVm.messages.ciudad}"
        )
          span.input-label {{::("user.country"|translate)}}
          input(
            type="text"
            ng-model="piVm.userEdit.ciudad"
          )
        show-error(array-messages="piVm.messages.ciudad")

    ion-footer-bar.bar.bar-footer.bar-stable
        button.button.button-outline.button-energized.button-small(
            type="submit"
            ng-disabled='piVm.updateProfileForm.$invalid'
        )
         | {{::('globals.save'|translate)}}
