ion-view(
  view-title='{{::("dispatchers.dispatchers"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.resource-collection
    .row
      label.search-input
        i.icon.ion-search.placeholder-icon
        input(
          ng-model="dispatchersVm.filtro"
          type="text"
          placeholder='{{::("dispatchers.dispatcherSearch"|translate)}}'
        )

    .row
      .list.list--centered
        button.button.button-outline.button-energized(
          ng-click="dispatchersVm.newDispatcherModal()"
        ) {{::("globals.new"|translate)}} {{::("dispatchers.dispatcher"|translate)}}

    .list.list-inset.list--no-borders.resource-collection-table
      .row.table-headers
        .col.col-60 {{::("dispatchers.dispatcher"|translate)}}
        .col
      
      .col.without-items(ng-if="dispatchersVm.dispatchers.length === 0")
        p {{::("dispatchers.dispatcherAny"|translate)}}
        p {{::("dispatchers.dispacherClick"|translate)}}

      .item.row(
        ng-repeat='dispatcher in dispatchersVm.dispatchers | filter: dispatchersVm.filtro track by $index'
      )
        .col.col-60 {{dispatchersVm.dispatcherName(dispatcher)}}
        .col.text-right
          a.button.button-clear.button-positive.button-small(
            ui-sref='provider.dispatchers.show({ id: dispatcher.id })'
          ) {{::("globals.seeMore"|translate)}}
