ion-modal-view.item-page
  ion-header-bar.bar-stable.bar.bar-header(
    align-title="center"
  )
    .ion-nav-buttons(side="left")
      button.button.ion-chevron-left.button-clear.left(
        ng-click="dispatchersVm.closeDispatcher()"
      )
    .title.alt-logo
  ion-content.resource-form
    form(
      name='dispatchersVm.form'
      ng-submit='dispatchersVm.submitDispatcher()'
      novalidate
    )
      .list.list-inset
        legend(ng-if ="!dispatchersVm.dispatcher.id").title {{::("globals.new"|translate)}} {{::("dispatchers.dispatcher"|translate)}}
        legend(ng-if ="dispatchersVm.dispatcher.id").title {{::("globals.edit"|translate)}} {{::("dispatchers.dispatcher"|translate)}}

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': dispatchersVm.form.email.$touched && dispatchersVm.form.email.$invalid}"
        )
          span.input-label {{::("globals.email"|translate|uppercase)}}
          input(
            type="email"
            name="email"
            ng-class="input-error"
            ng-model="dispatchersVm.dispatcher.email",
            required
          )
          .show-errors(ng-messages="dispatchersVm.form.email.$error" ng-if="dispatchersVm.form.email.$touched")
            span.message-error(ng-message="required") {{::("form.requiredField"|translate)}}
            span.message-error(ng-message="email") {{::("form.wrongEmail"|translate)}}
        show-error(array-messages="dispatchersVm.messages.email")

        label.item.item-input.item-select(
          ng-class="{'item-error': dispatchersVm.form.provider_office_id.$touched && dispatchersVm.form.provider_office_id.$invalid}"
        )
          span.input-label {{::("dispatchers.dispacherOffice"|translate|uppercase)}}
          select(ng-model='dispatchersVm.dispatcher.provider_office_id'
                name="provider_office_id"
                ng-options="item.id as item.direccion for item in dispatchersVm.offices"
                required)
          .show-errors(ng-messages="dispatchersVm.form.provider_office_id.$error" ng-if="dispatchersVm.form.provider_office_id.$touched")
            span.message-error(ng-message="required") {{::("form.requiredField"|translate)}}
        show-error(array-messages="dispatchersVm.messages.provider_office_id")

      .bar.bar-footer
        .row.col.text-center
          button.action-button.yellow(
            type="submit"
          ) {{::("globals.save"|translate)}}
