ion-view(
  view-title='{{::("client.clients"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.client-page
    .row
      label.search-input
        i.icon.ion-search.placeholder-icon
        input(
          ng-model="clientsVm.query"
          type="text"
          placeholder='{{::("client.clientSearch"|translate)}}'
        )
    .row.footer-client-container
      button.button-secondary-yellow(
        ng-click="clientsVm.showNewModal()"
      ) {{::("globals.new"|translate)}} {{::("client.client"|translate)}}
    .row.list-header
      .col.col-50.list-title {{::("client.clientName"|translate)}}
      .col
        item.item-input.item-select.select-position-adjust
          select(
            ng-model="selectedOption"
            ng-options="option.name for option in clientsVm.listOptions"
          )
            option(value="") Ordenar por
    .row.list-content(
      ng-repeat="client in clientsVm.clients | filter:clientsVm.query | orderBy:selectedOption.filterField"
      ng-init="idx = $index"
    )
      .col.col-75.list-item {{ client.nombres }}
      a.col.action(
        ng-click="clientsVm.showEditModal(idx)"
      ) {{::("globals.edit"|translate)}}
  .bar.bar-footer.footer-client-container
    button.button-secondary-yellow {{::("client.import"|translate)}}
    button.button-secondary-yellow {{::("client.export"|translate)}}
