ion-view(
  view-title='{{::("client.clients"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.client-page
    .row
      label.search-input
        i.icon.ion-search.placeholder-icon
        input(
          ng-model="clientsVm.query"
          type="text"
          placeholder='{{::("client.clientSearch"|translate)}}'
        )
    .row.footer-client-container
      button.button-secondary-yellow(
        ng-click="clientsVm.showNewModal()"
      ) {{::("globals.new"|translate)}} {{::("client.client"|translate)}}
    .row.list-header
      .col.col-50.list-title {{::("client.clientName"|translate)}}
      .col.list-title {{::("client.id"|translate)}}
      .col.col-33
        .list
          label.item.item-input.item-select.label-select
            {{::("client.sortBy"|translate)}}
            select(
              ng-model="selectedOption"
              ng-options="x.option for x in clientsVm.listOptions"
            )
    .row.list-content(
      ng-repeat="client in clientsVm.clients | filter:clientsVm.query | orderBy:selectedOption.filterField"
    )
      .col.col-50.list-item {{ client.nombres }}
      .col.list-item {{ client.id }}
      a(
        ng-click="clientsVm.showEditModal(client)"
      ).col.col.33 {{::("globals.edit"|translate)}}
  .bar.bar-footer.footer-client-container
    button.button-secondary-yellow {{::("client.import"|translate)}}
    button.button-secondary-yellow {{::("client.export"|translate)}}
