ion-modal-view
  ion-header-bar.bar.bar-header.bar-light
    h4(ng-hide="clientsVm.client.id").title {{::("globals.new"|translate)}} {{::("client.client"|translate)}}
    h4(ng-show="clientsVm.client.id").title {{::("globals.edit"|translate)}} {{::("client.client"|translate)}}
    button.button.ion-chevron-left.button-clear(
      ng-click="clientsVm.closeModal()"
    )  Cancelar
  ion-content.resource-form
    form(
      name="form"
      ng-submit="clientsVm.submitProcess(clientsVm.client.id)"
      novalidate
    )
      .list.list-inset
        legend {{::("client.formLegend"|translate)}}

        label.item.item-input.item-stacked-label
          span.input-label {{::("client.notas"|translate)}}
          input(
            type="text"
            ng-model="clientsVm.client.notas"
            ng-class="input-error"
          )

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': clientsVm.messages.ruc}"
        )
          span.input-label {{::("client.ruc"|translate)}}
          input(
            type="text"
            ng-class="input-error"
            ng-model="clientsVm.client.ruc"
          )
        show-error(array-messages="clientsVm.messages.ruc")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': clientsVm.messages.nombres}"
        )
          span.input-label {{::("client.nombres"|translate)}}
          input(
            type="text"
            ng-model="clientsVm.client.nombres"
          )
        show-error(array-messages="clientsVm.messages.nombres")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': clientsVm.messages.direccion}"
        )
          span.input-label {{::("client.direccion"|translate)}}
          input(
            type="text"
            ng-model="clientsVm.client.direccion"
          )
        show-error(array-messages="clientsVm.messages.direccion")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': clientsVm.messages.telefono}"
        )
          span.input-label {{::("client.telefono"|translate|uppercase)}}
          input(
            type="tel"
            ng-model="clientsVm.client.telefono"
          )
        show-error(array-messages="clientsVm.messages.telefono")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': clientsVm.messages.email}"
        )
          span.input-label {{::("client.email"|translate|uppercase)}}
          input(
            type="email"
            ng-model="clientsVm.client.email"
          )
        show-error(array-messages="clientsVm.messages.email")

      .bar.bar-footer
        input.button.button-primary(
          type='submit'
          value='{{::("globals.save"|translate)}} {{::("client.client"|translate)}}'
        )
