.list.list-inset
  legend {{::("provider.formLegendSecond"|translate)}}
  
  label.item.item-input.item-stacked-label(
    ng-class="{'item-error': providerVm.providerForm.telefono.$touched && providerVm.providerForm.telefono.$invalid}"
  )
    span.input-label {{::("provider.phone"|translate)}}*
    input(
      type='tel',
      name='telefono',
      ng-model='providerVm.provider.telefono',
      required
    )
  .errors-wrapper
    span.show-errors(ng-messages="providerVm.providerForm.telefono.$error" ng-if="providerVm.providerForm.telefono.$touched")
      span.message-error(ng-message="required") {{::("form.requiredField"|translate)}}
    show-error(array-messages="providerVm.errors.telefono")

  label.item.item-input.item-stacked-label(
    ng-class="{'item-error': providerVm.providerForm.email.$touched && providerVm.providerForm.email.$invalid}"
  )
    span.input-label {{::("provider.email"|translate)}}*
    input(
      type='email',
      placeholder='user@mydomain.com',
      name='email',
      ng-model='providerVm.provider.email',
      required
    )
  .errors-wrapper
    span.show-errors(ng-messages="providerVm.providerForm.email.$error" ng-if="providerVm.providerForm.email.$touched")
      span.message-error(ng-message="required") {{::("form.requiredField"|translate)}}
      span.message-error(ng-message="email") {{::("form.wrongEmail"|translate)}}
    show-error(array-messages="providerVm.errors.email")

  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.webSite"|translate)}}
    input(
      type='text',
      name='website',
      ng-model='providerVm.provider.website'
    )

  label.item.item-input.item-stacked-label(
    ng-class="{'item-error': providerVm.touchedPayments && providerVm.providerForm.methodsPayment.$invalid}"
  )
    span.input-label {{::("provider.methodPayment"|translate)}}*
    ion-list
      ion-checkbox(
        ng-repeat="method in providerVm.methodsPayment",
        ng-model="method.checked"
        name="methodsPayment"
        ng-checked="method.checked"
        ng-change="providerVm.checked(method)"
      ) {{ ::method.label }}
  .errors-wrapper
    span.show-errors.ng-active(ng-if="providerVm.touchedPayments && providerVm.providerForm.methodsPayment.$invalid")
      span.message-error(ng-message="required") {{::("form.requiredField"|translate)}}
    show-error(array-messages="providerVm.errors.formas_de_pago")

  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.logo"|translate)}}
    input(
      type='file'
      ngf-select
      ng-model="itemsVm.item.imagen"
      accept="image/*"
    )
