.list.list-inset
  legend {{::("provider.formLegendSecond"|translate)}}

  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.bank.name"|translate)}}
    input(
      type='text',
      name='banco_nombre',
      ng-model='providerVm.providerForm.banco_nombre'
    )
  
  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.bank.type"|translate)}}
    select(ng-model='providerVm.providerForm.banco_tipo_cuenta')
      option(value="{{::('provider.bank.savings'|translate)}}") 
        | {{::("provider.bank.savings"|translate)}}
      option(value="{{::('provider.bank.credit'|translate)}}") 
        | {{::("provider.bank.credit"|translate)}}
  
  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.bank.account"|translate)}}
    input(
      type='text',
      name='banco_numero_cuenta',
      ng-model='providerVm.providerForm.banco_numero_cuenta'
    )
  
  legend {{::("provider.formLegendThird"|translate)}}
  
  label.item.item-input.item-stacked-label(
    ng-class="{'item-error': newProviderForm.direccion_matriz.$touched && newProviderForm.direccion_matriz.$error.required}"
  )
    span.input-label {{::("provider.address"|translate)}}*
    input(
      type='text',
      name='direccion_matriz',
      ng-model='providerVm.matrizProvider.direccion',
      required
    )
  show-error(element='newProviderForm.direccion_matriz' message='("provider.isRequired"|translate)')
  
  .item.item-input.item-stacked-label
    span.input-label {{::("provider.schedule"|translate)}}*
    ion-datetime-picker(time ng-model='providerVm.matrizProvider.horario')
      | {{providerVm.matrizProvider.horario| date: "H:mm"}}
  
  label.item.item-input.item-stacked-label(
    ng-class="{'item-error': newProviderForm.telefono_matriz.$touched && newProviderForm.telefono_matriz.$error.required}"
  )
    span.input-label {{::("provider.phone"|translate)}}*
    input(
      type='tel',
      name='telefono_matriz',
      ng-model='providerVm.matrizProvider.telefono',
      required
    )
  show-error(element='newProviderForm.telefono_matriz' message='("provider.isRequired"|translate)')
