.list.list-inset
  legend {{::("provider.formLegendSecond"|translate)}}

  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.bank.name"|translate)}}
    input(
      type='text',
      name='banco_nombre',
      ng-model='providerVm.provider.banco_nombre'
    )

  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.bank.type"|translate)}}
    ion-list
      ion-checkbox(
        ng-repeat="type in providerVm.accountType",
        ng-model="type.checked"
        name="bankType"
        ng-checked="type.checked"
        ng-change="providerVm.checkedBank(type)"
      ) {{ ::type.label }}

  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.bank.account"|translate)}}
    input(
      type='text',
      name='banco_numero_cuenta',
      ng-model='providerVm.provider.banco_numero_cuenta'
    )

  legend {{::("provider.formLegendThird"|translate)}}

  label.item.item-input.item-stacked-label(
    ng-class="{'item-error': providerVm.providerForm.direccion_matriz.$touched && providerVm.providerForm.direccion_matriz.$invalid}"
  )
    span.input-label {{::("provider.address"|translate)}}*
    input(
      type='text',
      name='direccion_matriz',
      ng-model='providerVm.matrizProvider.direccion',
      required
    )
  .show-errors(ng-messages="providerVm.providerForm.direccion_matriz.$error" ng-if="providerVm.providerForm.direccion_matriz.$touched")
    span(ng-message="required" class="message-error") Campo requerido

  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.openTime"|translate)}}*
  .dateTime(ion-datetime-picker="" time="" ng-model="providerVm.matrizProvider.hora_de_apertura" required)
    span(ng-if="!providerVm.matrizProvider.hora_de_apertura") Click para seleccionar
    | {{providerVm.matrizProvider.hora_de_apertura| date: "H:mm"}}

  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.closeTime"|translate)}}*
  .dateTime(ion-datetime-picker="" time="" ng-model="providerVm.matrizProvider.hora_de_cierre" required)
    span(ng-if="!providerVm.matrizProvider.hora_de_cierre") Click para seleccionar
    | {{providerVm.matrizProvider.hora_de_cierre| date: "H:mm"}}

  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.initialLaborDay"|translate)}}
  item.item-input.item-select.select-position-adjust
    select(
     ng-model="providerVm.matrizProvider.inicio_de_labores"
     ng-options="item as item.label for item in providerVm.laborDays"
    )

  label.item.item-input.item-stacked-label
    span.input-label {{::("provider.finalLaborDay"|translate)}}
  item.item-input.item-select.select-position-adjust
    select(
     ng-model="providerVm.matrizProvider.final_de_labores"
     ng-options="item as item.label for item in providerVm.laborDays"
    )

  label.item.item-input.item-stacked-label(
    ng-class="{'item-error': providerVm.providerForm.telefono_matriz.$touched && providerVm.providerForm.telefono_matriz.$invalid}"
  )
    span.input-label {{::("provider.phone"|translate)}}*
    input(
      type='tel',
      name='telefono_matriz',
      ng-model='providerVm.matrizProvider.telefono',
      required
    )
  .show-errors(ng-messages="providerVm.providerForm.telefono_matriz.$error" ng-if="providerVm.providerForm.telefono_matriz.$touched")
    span(ng-message="required" class="message-error") Campo requerido
