ion-view(
  view-title="Registro",
  hide-nav-bar="true"
)
  ion-content(scroll="false")
    .row.form-container
      form(ng-submit='registerVm.register()')
        .register-title Regístrate
        .list.list-inset
          label.item.item-input
            input(
              type='email',
              ng-model='registerVm.registerForm.email',
              required='required',
              placeholder="email"
            )
          label.item.item-input
            input(
              type='password',
              ng-model='registerVm.registerForm.password',
              required='required',
              placeholder="password"
            )
          label.item.item-input
            input(
              type='password',
              ng-model='registerVm.registerForm.password_confirmation',
              required='required',
              placeholder="password confirmation"
            )

        .row.button-actions
          .col
            input(
              type='submit',
              value="register"
            ).button
