ion-view(
  view-title="Registro",
  hide-nav-bar="true"
)
  ion-content.login-form
    back-button
    .row
      .col.header-text Crear mi cuenta
    .row
      .col.intro-description
        p Una cuenta, muchos perfiles

    .row
      form(name='registerVm.registerForm'
          ng-submit='registerVm.register()'
          novalidate)
        .list.list-inset
          label.item.item-input(
            ng-class="{'item-error': registerVm.registerForm.email.$touched && registerVm.registerForm.email.$invalid}"
          )
            i.icon.ion-email.placeholder-icon
            input(
              type='email'
              ng-model='registerVm.user.email'
              name="email"
              required
              placeholder='Correo electrónico'
              autosize-input
            )
          .show-errors(ng-messages="registerVm.registerForm.email.$error" ng-if="registerVm.registerForm.email.$touched")
            span(ng-message="required" class="message-error") Campo requerido
            span(ng-message="email" class="message-error") E-mail no válido
          show-error(array-messages="registerVm.errors.email")
          label.item.item-input(
            ng-class="{'item-error': registerVm.registerForm.password.$touched && registerVm.registerForm.password.$invalid}"
          )
            i.icon.ion.ion-android-lock.placeholder-icon
            input(
              type='password'
              name='password'
              ng-model='registerVm.user.password'
              required
              placeholder="Contraseña"
            )
          .show-errors(ng-messages="registerVm.registerForm.password.$error" ng-if="registerVm.registerForm.password.$touched")
            span(ng-message="required" class="message-error") Campo requerido
          show-error(array-messages="registerVm.errors.password")
          label.item.item-input(
            ng-class="{'item-error': registerVm.registerForm.password_confirmation.$touched && registerVm.registerForm.password_confirmation.$invalid}"
          )
            i.icon.ion.ion-android-lock.placeholder-icon
            input(
              type='password'
              name='password_confirmation'
              ng-model='registerVm.user.password_confirmation'
              required
              placeholder="Confirmar contraseña"
            )
          .show-errors(ng-messages="registerVm.registerForm.password_confirmation.$error" ng-if="registerVm.registerForm.password_confirmation.$touched")
            span(ng-message="required" class="message-error") Campo requerido
          show-error(array-messages="registerVm.errors.password_confirmation")

        .button-actions.list.list-inset
          input(
            type='submit',
            value="¡Regístrame!"
          ).button.button-primary.button-block

    .list.list-inset
      .or-option
        span {{::("globals.or"|translate)}}

    .list.list-inset
      .button.facebook-login(ng-click="registerVm.loginWithFB()")
        span.fb-left-icon
        span.fb-copytext Continuar con facebook

.bar.bar-footer.bar-footer-yellow-stripe
