ion-view(
  view-title="Registro",
  hide-nav-bar="true"
)
  ion-content.login-form
    back-button
    .row
      .col.header-text Crear mi cuenta
    .row
      .col.intro-description
        p Una cuenta, muchos perfiles

    .row.width-constraint
      form(ng-submit='registerVm.register()')
        .list
          label.item.item-input
            span.email-left-icon
            input(
              type='email',
              ng-model='registerVm.registerForm.email'
              required='required'
              placeholder='Correo electrónico'
              autosize-input
            )
          label.item.item-input
            span.lock-left-icon
            input(
              type='password',
              ng-model='registerVm.registerForm.password',
              required='required',
              placeholder="Contraseña"
            )
          label.item.item-input
            span.lock-left-icon
            input(
              type='password',
              ng-model='registerVm.registerForm.password_confirmation',
              required='required',
              placeholder="Confirmar contraseña"
            )

        .button-actions
          input(
            type='submit',
            value="¡Regístrame!"
          ).button.button-primary.button-block
      
    .row.or-option
      span {{::("globals.or"|translate)}}
    
    .row.width-constraint
      .button.facebook-login(ng-click="registerVm.loginWithFB()")
        span.fb-left-icon
        span.fb-copytext Continuar con facebook

.bar.bar-footer.bar-footer-yellow-stripe
