ion-view(
  view-title="Registro",
  hide-nav-bar="true"
)
  ion-content
    back-button
    .row
      form.form-container(ng-submit='registerVm.register()')
        .register-title Crear mi cuenta
        .register-subtitle Una cuenta, muchos perfiles
        .list
          label.item.item-input.item-send-email
            span.icon-input-placeholder-email
            input(
                type='email',
                ng-model='registerVm.registerForm.email'
                required='required'
                placeholder='Correo electrónico'
                class='input-send-email'
              )
          label.item.item-input.item-send-password
            span.icon-input-placeholder-password
            input(
              type='password',
              ng-model='registerVm.registerForm.password',
              required='required',
              placeholder="Contraseña"
              class="input-send-password"
            )
          label.item.item-input.item-send-password
            span.icon-input-placeholder-password
            input(
              type='password',
              ng-model='registerVm.registerForm.password_confirmation',
              required='required',
              placeholder="Confirmar contraseña"
              class="input-send-password"
            )
        .button-actions
            input(
              type='submit',
              value="¡Regístrame!"
            ).button.button-login.button-block
    .row.form-container
      .button.facebook-login(ng-click="registerVm.loginWithFB()")
        span.icon-placeholder-facebook
        span.input-facebook-login Continuar con facebook
    .bar.bar-footer.bar-footer-send-email
