.product-counter
  .actions-panel
    .button-minus-container
      button.button-icon.icon.ion-ios-minus-outline.button-minus(
        ng-disabled="pcVm.itemsCount === pcVm.options.limit"
        ng-click="pcVm.handleClickMinus()"
      )
    .counter-container
      | {{ ::('item.cantidadPrefix' | translate) }}{{pcVm.itemsCount}}
    .button-plus-container
      button.button-icon.icon.ion-ios-plus-outline.button-plus(
        ng-disabled="!pcVm.canIncrement"
        ng-click="pcVm.handleClickPlus()"
      )

  .price-panel
    .price
      span
        price(amount="{{pcVm.priceTotalCents}}"
              currency="{{pcVm.currencyCode}}")
