ion-content
  .profile-page
    .profile-header.responsive-sm
      .col.col-offset-25.col-50
        img.img-profile(src="images/camera.png")
      .user-name
        |{{ siteVm.userName() }}
    .profile-body
      ion-tabs.state-tabs
        ion-tab(
          title="{{::('profile.tabs.info'|translate)}}"
          ui-sref="provider.profile-provider.info"
        )
          ion-nav-view(name='menuContent@profileProviderInfo')
        ion-tab(
          title="{{::('profile.tabs.metrics'|translate)}}"
          ui-sref="provider.profile-provider.metrics"
        )
          ion-nav-view(name='menuContent@profileProviderMetrics')
        ion-tab(
          title="{{::('profile.tabs.managements'|translate)}}"
          ui-sref="provider.profile-provider.managements"
        )
          ion-nav-view(name='menuContent@profileProviderManagements')

