ion-view(
  view-title="Cambiar contrase単a",
  hide-nav-bar="true"
)
  ion-content(scroll="false")
    .row.form-container
      form(ng-submit='resetVm.updatePassword()')
        .login-title Cambiar contrase単a
        .list.list-inset
          label.item.item-input
            input(
              type='password',
              ng-model='resetVm.updatePasswordForm.password',
              required='required',
              placeholder="Nueva contrase単a"
            )
          label.item.item-input
            input(
              type='password',
              ng-model='resetVm.updatePasswordForm.password_confirmation',
              required='required',
              placeholder="Confirmar nueva contrase単a"
            )
        .row.button-actions
          .col
            input(
              type='submit',
              value="Enviar"
            ).button
