ion-view(
  view-title="Actualiza tu contraseña",
  hide-nav-bar="true"
)
  ion-content
    .update-password-view
      .row
        .col.header-text
          |Actualiza tu contraseña
      .row
        form.form-container(ng-submit='resetVm.updatePassword()')
          .list
            label.item.item-input.item-send-password
              span.icon-input-placeholder-password
              input(
                type='password',
                ng-model='resetVm.updatePasswordForm.password',
                required='required',
                placeholder="Contraseña",
                class="input-send-password"
              )
            label.item.item-input.item-send-password
              span.icon-input-placeholder-password
              input(
                type='password',
                ng-model='resetVm.updatePasswordForm.password_confirmation',
                required='required',
                placeholder="Confirmar contraseña",
                class="input-send-password"
              )
          .button-actions
            button(
              type='submit'
            ).button.button-full.button-positive.button-update-password
              |Actualizar contraseña
  .bar.bar-footer.bar-footer-send-email
