ion-view(
  view-title="Actualiza tu contraseña",
  hide-nav-bar="true"
)
  ion-content.login-form
    .row
      .col.header-text Actualiza tu contraseña
    .row.width-constraint
      form(ng-submit='resetVm.updatePassword()')
        .list
          label.item.item-input.with-icon
            span.lock-left-icon
            input(
              type='password',
              ng-model='resetVm.updatePasswordForm.password',
              required='required',
              placeholder="Contraseña"
            )
          label.item.item-input.with-icon
            span.lock-left-icon
            input(
              type='password',
              ng-model='resetVm.updatePasswordForm.password_confirmation',
              required='required',
              placeholder="Confirmar contraseña"
            )
        .button-actions
          button(
            type='submit'
          ).button.button-full.button-primary.spaced
            | Actualizar contraseña

.bar.bar-footer.bar-footer-yellow-stripe
