ion-view(
  view-title="Login",
  hide-nav-bar="true"
)
  ion-content.login-form
    back-button
    .row
      .col.header-text Recuperar contraseña
    .row
      .col.intro-description
        p Escribe tu correo electrónico y te enviaremos una clave temporal que luego podrás cambiar

    .row
      form(ng-submit='resetVm.resetPassword()')
        .list.list-inset
          label.item.item-input
            i.icon.ion-email.placeholder-icon
            input(
              type='email',
              ng-model='resetVm.resetPasswordForm.email'
              required='required'
              placeholder='Correo electrónico'
            )
        .list.list-inset.button-actions
          button(
            type='submit'
          ).button.button-full.button-primary.spaced
            | Restablecer contraseña

.bar.bar-footer.bar-footer-yellow-stripe
