ion-view(
    view-title="Login",
    hide-nav-bar="true"
  )
  ion-content
    back-button
    .email-password-view
      .row
        .col.header-text
          |Recuperar contraseña
      .row
        .col.description
          p Escribe tu correo electrónico y te
            | enviaremos una clave temporal que luego podrás cambiar

      .row
        form.form-container(ng-submit='resetVm.resetPassword()')
          .list
            label.item.item-input
              span.email-left-icon
              input(
                  type='email',
                  ng-model='resetVm.resetPasswordForm.email'
                  required='required'
                  placeholder='Correo electrónico'
                )
          .button-actions
            button(
                type='submit'
              ).button.button-full.button-primary.spaced
              | Restablecer contraseña

  .bar.bar-footer.bar-footer-send-email
