ion-modal-view.item-page
  ion-header-bar.bar.bar-header.bar-light.bar-base-yellow(
    align-title="center"
  )
    h4(ng-hide="officesVm.office.id").title {{::("globals.new"|translate)}} {{::("office.office"|translate)}}
    h4(ng-show="officesVm.office.id").title {{::("globals.edit"|translate)}} {{::("office.office"|translate)}}
    .ion-nav-buttons(side="left")
      button.button.ion-chevron-left.button-clear.left(
        ng-click="officesVm.closeModal()"
      )
  ion-content.resource-form
    form(
      name='officesVm.form'
      ng-submit='officesVm.submitOffice()'
      novalidate
    )
      .list.list-inset
        legend {{::("office.officeLegend"|translate)}}

        label.item.item-input.item-stacked-label
          span.input-label {{::("office.ciudad"|translate|uppercase)}}
          input(
            type="text"
            ng-class="input-error"
            ng-model="officesVm.office.ciudad"
          )
        show-error(array-messages="officesVm.messages.ciudad")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': officesVm.form.direccion.$touched && officesVm.form.direccion.$invalid}"
          )
          span.input-label {{::("office.direccion"|translate|uppercase)}}
          input(
            type='text'
            name='direccion'
            ng-model='officesVm.office.direccion'
            ng-class="input-error"
            required
          )
          .show-errors(ng-messages="officesVm.form.direccion.$error" ng-if="officesVm.form.direccion.$touched")
            span(ng-message="required" class="message-error") {{::("form.requiredField"|translate)}}
        show-error(array-messages="officesVm.messages.direccion")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': officesVm.form.telefono.$touched && officesVm.form.telefono.$invalid}"
          )
          span.input-label {{::("office.telefono"|translate|uppercase)}}
          input(
            type='text'
            name='telefono'
            ng-model='officesVm.office.telefono'
            ng-class="input-error"
            required
          )
          .show-errors(ng-messages="officesVm.form.telefono.$error" ng-if="officesVm.form.telefono.$touched")
            span(ng-message="required" class="message-error") {{::("form.requiredField"|translate)}}
        show-error(array-messages='officesVm.messages.telefono')

        label.item.item-input.item-select
          span.input-label {{::("office.officeStart"|translate)}}
          select(ng-model='officesVm.office.inicio_de_labores')
            each day in ['mon','tue', 'wed', 'thu', 'fri', 'sat', 'sun']
              option(value=day)
                | {{::("office.#{day}"|translate)}}

        label.item.item-input.item-select
          span.input-label {{::("office.officeFinish"|translate)}}
          select(ng-model='officesVm.office.final_de_labores')
            each day in ['mon','tue', 'wed', 'thu', 'fri', 'sat', 'sun']
              option(value=day)
                | {{::("office.#{day}"|translate)}}

        ion-datetime-picker.content-office-datetime(time ng-model='officesVm.office.hora_de_apertura')
          label.item.item-input.item-stacked-label
            span.input-label {{::("office.horaApertura"|translate|uppercase)}}
            span(ng-if="!officesVm.office.hora_de_apertura") {{::("office.placeholderDate"|translate)}}
            | {{officesVm.office.hora_de_apertura| date: 'HH:mm a'}}
        show-error(array-messages='officesVm.messages.hora_de_apertura')

        ion-datetime-picker.content-office-datetime(time ng-model='officesVm.office.hora_de_cierre')
          label.item.item-input.item-stacked-label
            span.input-label {{::("office.horaCierre"|translate|uppercase)}}
            span(ng-if="!officesVm.office.hora_de_cierre") {{::("office.placeholderDate"|translate)}}
            | {{officesVm.office.hora_de_cierre| date: 'HH:mm a'}}
        show-error(array-messages='officesVm.messages.hora_de_cierre')

      .bar.bar-footer.footer-item-container
        button.button-secondary-yellow(
          type="submit"
        ) {{::("globals.save"|translate)}}
