ion-modal-view
  ion-header-bar.bar-stable.bar.bar-header
    .title.alt-logo

    .ion-nav-buttons.buttons(side="primary")
      button.button.button-clear.button-positive(
        ng-click="officesVm.closeModal()"
      ) {{::('globals.cancel'|translate)}}

  form(
    name='officesVm.form'
    ng-submit='officesVm.submitOffice()'
    novalidate
  )
    ion-content.resource-form.office-form
      .list.list-inset
        legend(ng-if="!officesVm.office.id")
          | {{::("globals.new"|translate)}} {{::("office.office"|translate)}}
        legend(ng-if="officesVm.office.id")
          | {{::("globals.edit"|translate)}} {{::("office.office"|translate)}}

        label.item.item-input.item-stacked-label
          span.input-label {{::("office.ciudad"|translate)}}
          input(
            type="text"
            ng-class="input-error"
            ng-model="officesVm.office.ciudad"
          )
        .errors-wrapper
          show-error(array-messages="officesVm.messages.ciudad")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': officesVm.form.direccion.$touched && officesVm.form.direccion.$invalid}"
        )
          span.input-label {{::("office.direccion"|translate)}}
          input(
            type='text'
            name='direccion'
            ng-model='officesVm.office.direccion'
            ng-class="input-error"
            required
          )
        .errors-wrapper
          span.show-errors(
            ng-messages="officesVm.form.direccion.$error"
            ng-if="officesVm.form.direccion.$touched"
          )
            span.message-error(ng-message="required")
              | {{::("form.requiredField"|translate)}}
          show-error(array-messages="officesVm.messages.direccion")

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': officesVm.form.telefono.$touched && officesVm.form.telefono.$invalid}"
          )
          span.input-label {{::("office.telefono"|translate)}}
          input(
            type='text'
            name='telefono'
            ng-model='officesVm.office.telefono'
            ng-class="input-error"
            required
          )
        .errors-wrapper
          span.show-errors(
            ng-messages="officesVm.form.telefono.$error"
            ng-if="officesVm.form.telefono.$touched"
          )
            span.message-error(ng-message="required")
              | {{::("form.requiredField"|translate)}}
          show-error(array-messages='officesVm.messages.telefono')

        label.item.item-input.item-select
          span.input-label {{::("office.officeStart"|translate)}}
          select(ng-model='officesVm.office.inicio_de_labores')
            each day in ['mon','tue', 'wed', 'thu', 'fri', 'sat', 'sun']
              option(value=day)
                | {{::("globals.dayNames.#{day}"|translate)}}

        label.item.item-input.item-select
          span.input-label {{::("office.officeFinish"|translate)}}
          select(ng-model='officesVm.office.final_de_labores')
            each day in ['mon','tue', 'wed', 'thu', 'fri', 'sat', 'sun']
              option(value=day)
                | {{::("globals.dayNames.#{day}"|translate)}}

        ion-datetime-picker.datetime-picker(
          time
          ng-model='officesVm.office.hora_de_apertura'
        )
          label.item.item-input.item-stacked-label(
            ng-class="{'item-error': officesVm.messages.hora_de_apertura}"
          )
            span.input-label
              | {{::("office.horaApertura"|translate)}}
            
            .datetime-picker-placeholder(
              ng-if="!officesVm.office.hora_de_apertura"
            ) {{::("office.selectHourPlaceholder"|translate)}}

            .datetime-picker-value
              | {{officesVm.office.hora_de_apertura|date: 'HH:mm a'}}
        .errors-wrapper
          show-error(array-messages='officesVm.messages.hora_de_apertura')

        ion-datetime-picker.datetime-picker(
          time
          ng-model='officesVm.office.hora_de_cierre'
        )
          label.item.item-input.item-stacked-label(
            ng-class="{'item-error': officesVm.messages.hora_de_cierre}"
          )
            span.input-label
              | {{::("office.horaCierre"|translate)}}
            
            .datetime-picker-placeholder(
              ng-if="!officesVm.office.hora_de_cierre"
            ) {{::("office.selectHourPlaceholder"|translate)}}
            
            .datetime-picker-value
              | {{officesVm.office.hora_de_cierre|date: 'HH:mm a'}}
        .errors-wrapper
          show-error(array-messages='officesVm.messages.hora_de_cierre')

        legend
          | {{ ::("office.weekdays.collectionTitle" | translate) }}

        .each-weekday-wrapper(
          ng-repeat="officeWeekday in ::officesVm.office.weekdays_attributes"
        )
          label.item.item-input.item-stacked-label.item-input--no-borders
            span.input-label
              | {{ ::("globals.dayNames."+officeWeekday.day | translate)}}
          .weekday-checkbox-wrapper
            label.toggle
              input(
                type="checkbox"
                ng-model="officeWeekday.abierto"
              )
              .track
                .handle
              span.padded(
                ng-if="!officeWeekday.abierto"
              ) {{ ::("office.weekdays.cerrado" | translate) }}

            ion-datetime-picker.datetime-picker(
              time
              ng-model='officeWeekday.hora_de_apertura'
              ng-if="officeWeekday.abierto"
            )
              span.padded
                | {{ ::("office.weekdays.openFromPlaceholder" | translate) }}
              span.datetime-picker-placeholder(
                ng-if="!officeWeekday.hora_de_apertura"
              ) {{ ::("office.weekdays.selectHourPlaceholder" | translate) }}

              span.datetime-picker-value
                | {{ officeWeekday.hora_de_apertura | date: 'HH:mm a' }}

            ion-datetime-picker.datetime-picker(
              time
              ng-model='officeWeekday.hora_de_cierre'
              ng-if="officeWeekday.abierto"
            )
              span.padded
                | {{ ::("office.weekdays.openUntilPlaceholder" | translate) }}
              span.datetime-picker-placeholder(
                ng-if="!officeWeekday.hora_de_cierre"
              ) {{ ::("office.weekdays.selectHourPlaceholder" | translate) }}

              span.datetime-picker-value
                | {{ officeWeekday.hora_de_cierre | date: 'HH:mm a' }}

    .bar.bar-footer.bar-stable
      button.button.button-small.button-outline.button-energized(
        type="submit"
        ng-disabled="officesVm.form.$invalid"
      ) {{::("globals.save"|translate)}}
