ion-view(
  view-title='{{::("courier.orders"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.courier-shipping-request-index-list
    maps(
      disable-edit="true"
      on-render="orVm.mapRendered(map)"
      default-in-current-geolocation="true"
    )

    .list.list-inset.list--bottom-narrow
      p
        | {{ ::("courier.labels.found" | translate) }}
        |  {{ orVm.totalOrders }}
        |  {{ ::("courier.labels.closeToYou" | translate) }}
    
    .list.list-inset.list--top-narrow
      .shipping-request-container(
        ng-repeat="order in orVm.orders"
        ui-sref='courier.order({ id: order.id, order: order})'
      )
        .distance-circle
          .fake-vertical-line.top
          .range
            span 1.2
          .fake-vertical-line.bottom
        .shipping-request.resource-rounded-container
          .row
            .col
              .icon-location
                i.ion-navigate
              .container-title
                | {{ order.provider_profile.nombre_establecimiento }}
          .row
            .col.location
              | 1.2 km {{::("courier.labels.currentLocation"| translate)}}
          .row
            .col.time
              | 1 hora {{::("courier.labels.forDelivery"| translate)}}
              
    .list.list-inset.list--top-narrow
      p.text-center
        | {{ ::("shippingRequest.noMoreItems" | translate) }}
